
/* Lanscape & laptop */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .nav-link.mr-26 {
        margin-right: 16px;
    }
    /* Package */
    .package_item {
        margin-bottom: 50px;
    }
    .premium {
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        width: 100%;
    }
    .package_btn{
        padding: 13px 54px;
    }
}
/* Tablet Device */
@media screen and (min-width: 768px) and (max-width:991px) {
    /* Menu */
    .navbar {
        z-index: 11;
    }
    .navbar-collapse {
        background: aliceblue;
        padding: 10px;
        border-radius: 10px;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: none;
    }
    .navbar-toggler {
        border: none;
        margin-left: 290px;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    /* Slider */
    .carousel-item img {
        height: 100vh;
        object-fit: cover;
    }
    .carousel-caption .btn.mb-42{
        margin-bottom: 30px;
    }
    .carousel-caption .fs-48{
        font-size: 40px;
    }
    /* Package */
    .package_item {
        margin-bottom: 50px;
    }
    .premium {
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        /* width: 100%; */
    }
    .package_btn{
        padding: 13px 54px;
    }
    /* FAQ */
    .ques_order,
    .footer_order{
        order: 2;
    }
    .question_img {
        margin-bottom: 20px;
        margin-left: 70px;
    }
    .question_img img{
        max-width: 100%;
    }
    /* Footer */
    .footer_text{
        text-align: center;
        margin-top: 50px;
    }
    .footer_content.ml-250 {
        margin-left: 0;
    }
    .footer_content{
        text-align: center;
    }
}
/* Medium Moblie / lanscape device */
@media screen and (min-width: 576px) and (max-width: 767px) {
    /* Menu */
    .navbar {
        z-index: 11;
    }
    .navbar-collapse {
        background: aliceblue;
        padding: 10px;
        border-radius: 10px;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: none;
    }
    .navbar-toggler {
        border: none;
        margin-left: 90px;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    /* Slider */
    .carousel-item img {
        height: 100vh;
        object-fit: cover;
    }
    .carousel-caption .btn.mb-42{
        margin-bottom: 5px;
    }
    .carousel-caption .fs-48{
        font-size: 24px;
    }
    /* Package */
    .package_item {
        margin-bottom: 50px;
    }
    .premium {
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        width: 100%;
    }
    .package_btn{
        padding: 13px 54px;
    }
    /* FAQ */
    .ques_order,
    .footer_order{
        order: 2;
    }
    .question_img{
        margin-bottom: 20px;
    }
    .question_img img{
        max-width: 100%;
    }
    /* Footer */
    .footer_text{
        text-align: center;
        margin-top: 50px;
    }
    .footer_content.ml-250 {
        margin-left: 0;
    }
    .footer_content{
        text-align: center;
    }
}
/* Moblie device */
@media screen and (max-width: 575px){
    /* Menu */
    .navbar {
        z-index: 11;
    }
    .navbar-collapse {
        background: aliceblue;
        padding: 10px;
        border-radius: 10px;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: none;
    }
    .navbar-toggler {
        border: none;
        margin-left: 90px;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    /* Slider */
    .carousel-item img {
        height: 100vh;
        object-fit: cover;
    }
    .carousel-caption .btn.mb-42{
        margin-bottom: 5px;
    }
    .carousel-caption .fs-48{
        font-size: 24px;
    }
    /* Package */
    .package_item {
        margin-bottom: 50px;
    }
    .premium {
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        width: 100%;
    }
    /* FAQ */
    .ques_order,
    .footer_order{
        order: 2;
    }
    .question_img{
        margin-bottom: 20px;
    }
    .question_img img{
        max-width: 100%;
    }
    /* Footer */
    .footer_text{
        text-align: center;
        margin-top: 50px;
    }
    .footer_content.ml-250 {
        margin-left: 0;
    }
    .footer_content{
        text-align: center;
    }
}